<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Rozkurwiacz do PSMiR</title>

<body>
<div style="width: 80%; margin: auto; text-align: center; align-items: center; justify-content: center;">
<h1>Rozkurwiacz do PSMiR</h1>

<div class="section" style="width: fit-content;">
<form method="POST">
    <input type="hidden" name="fields_count" value={{fields_count}}>
    <table>
        <tr>
            <td>l.p</td>
            <td>&theta; [&deg;]</td>
            <td>d [mm]</td>
            <td>a [mm]</td>
            <td>&alpha; [&deg;]</td>
        </tr>
        {% for x in range(fields_count) %}
        <tr>
            <td>{{x+1}}.</td>
            {% if "theta" ~ x in prev_fields %}
                <td><input type="text" name="theta{{x}}" value="{{prev_fields['theta' ~ x]}}"></td>
            {% else %}
                <td><input type="text" name="theta{{x}}"></td>
            {% endif %}
            {% if "d" ~ x in prev_fields %}
                <td><input type="text" name="d{{x}}" value="{{prev_fields['d' ~ x]}}"></td>
            {% else %}
                <td><input type="text" name="d{{x}}"></td>
            {% endif %}
            {% if "a" ~ x in prev_fields %}
                <td><input type="text" name="a{{x}}" value="{{prev_fields['a' ~ x]}}"></td>
            {% else %}
                <td><input type="text" name="a{{x}}"></td>
            {% endif %}
            {% if "alpha" ~ x in prev_fields %}
                <td><input type="text" name="alpha{{x}}" value="{{prev_fields['alpha' ~ x]}}"></td>
            {% else %}
                <td><input type="text" name="alpha{{x}}"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" name="submit_button" value="+">
    <input type="submit" name="submit_button" value="-">
    <input type="submit" name="submit_button" value="Oblicz">
</form>
<!-- <form method="POST" enctype="multipart/form-data"> -->
<!--     <input type="file" name="file"> -->
<!--     <input type="submit" name="submit_button" value="Send"> -->
<!-- </form> -->
</div>

{% if plot_query is defined %}
<div class="section" style="width: fit-content;">
<h2>Schemat robota</h2>
<img src="/robotics/dh_solver/plot?{{plot_query}}">
<p>
<span style="color: red;">X</span>
<span style="color: green;">Y</span>
<span style="color: blue;">Z</span>
</p>
<br>
<h2>Macierze przejść</h2>
{{ matrices | safe }}
</div>
{% endif %}

<img src="/robotics/ad", width="60%">

</div>

</body>